.contenedoruno{
    background-color: blueviolet;
    width:200px;
    height: 200px;
    margin-left:40%
}
.contenedordos{
    background-color: blanchedalmond;
    width:200px;
    height: 200px;
    margin-left:40%
}
.contenedortres{
    background-color: aquamarine;
    width:200px;
    height: 200px;
    margin-left:40%
}
