body {
    background-color: antiquewhite;
    font-family: serif;
    color:dimgray;
    padding-left: 5%;
    
}
h1 {
    color:darkslategrey
}
h3{
    color:darkslategrey;
}
img{
    width:20%;
    height:15%;
}
.encabezado {
    display: flex;
    
}
.datos{
    padding-left: 12%;
}
.cuerpo {
    display: flex; 
}
.perfil{
    padding-left: 15%;
}
.pie {
    text-align: center;
}