.contenedorPadre{
    width:450px;
    height:450px;
    border: 1px solid black;
    position:absolute;
    top:10%;
    left:32%;
    display: flex; 
    flex-direction:column;
    align-items: end;
}
.primerContenedor {
    background-color: blueviolet;
    width: 150px;
    height: 150px;
}
.segundoContenedor {
    background-color: blue;
    width: 150px;
    height:150px
}
.tercerContenedor {
    background-color: aqua;
    width: 150px;
    height:150px
}